<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HireEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MVUNI\SQLEXPRESS;Initial Catalog=Hire;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="HireEntities1" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MVUNI\SQLEXPRESS;Initial Catalog=Hire;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CarsDatabase.Properties.Settings.HireConnectionString"
      connectionString="Data Source=MVUNI\SQLEXPRESS;Initial Catalog=Hire;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>